.Card-Header {
  border-width: thin;
  padding: 0.1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-overflow: ellipsis;
}

.card-header-edit {
  width: 95%;
  height: 20px;
}

.checkbox-position {
  text-align: right;
}
