.Card {
  border-style: solid;
  max-height: 40%;
  max-width: 15%;
}

.Card.default {
  color: green;
}

.Card.checked {
  color: red;
}

.card-header-edit {
  width: 95%;
  height: 20px;
}

.card-body-edit {
  width: 95%;
  height: 200px;
  resize: none;
  word-break: break-all;
  text-overflow: ellipsis;
}
