.Card-Content {
  padding: 10px;
  width: 90%;
  height: 100px;
  overflow-wrap: break-word;
  overflow: hidden;
}

.card-body-edit {
  width: 95%;
  height: 100px;
  resize: none;
  word-break: break-all;
  text-overflow: ellipsis;
}
